a.blue {
  display: inline-block !important;
  background: transparent !important;
  color: #0080b1 !important;
  border: 1px solid #0080b1 !important;
  border-radius: 6px !important;
  min-width: 223px !important;
  max-width: 100% !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 0.8em !important;
  transition: all 0.2s !important;
}
a.blue:visited {
  background: transparent !important;
  color: #0080b1 !important;
  border: 1px solid #0080b1 !important;
  text-decoration: none !important;
}
a.blue:active {
  background: #0080b1 !important;
  color: #ffffff !important;
  border: 1px solid #0080b1 !important;
  text-decoration: none !important;
}
a.blue:hover {
  background: #0080b1 !important;
  color: #ffffff !important;
  border: 1px solid #0080b1 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}
@media (max-width: 836px) {
  a.blue {
    min-width: auto !important;
  }
}

