a.btn-attention {
  display: inline-block;
  background: transparent;
  color: #a32f24;
  border: 2px solid #a32f24;
  border-radius: 6px;
  min-width: 4em;
  max-width: 100%;
  font-size: 100%;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  transition: all 0.2s;
}
a.btn-attention:visited {
  background: transparent;
  color: #a32f24;
  border: 2px solid #a32f24;
  text-decoration: none;
}
a.btn-attention:active {
  background: #c0392b;
  color: #ffffff;
  border: 2px solid #c0392b;
  text-decoration: none;
}
a.btn-attention:hover {
  background: #c0392b;
  color: #ffffff;
  border: 2px solid #c0392b;
  text-decoration: none;
  opacity: 1;
}

