@charset "UTF-8";

.cssskin-_block_b-both_diff_right .column:first-child + * {
  width: 35%;
}

.cssskin-_block_b-both_diff_right .column:first-child {
  width: 60%;
}

.cssskin-_block_b-both_diff_right .c-large_headline {
  line-height: 2;
}

.cssskin-_block_b-both_diff_right .c-body {
  font-size: 16px;
}

@media only screen and (max-width: 641px) {
.cssskin-_block_b-both_diff_right .c-body {
  font-size: 15px;
}

}
