@charset "UTF-8";

.cssskin-_block_header_pc .column.-column1 {
  width: 18%;
  padding-top: 40px;
}

.cssskin-_block_header_pc .column.-column2 {
  width: 62%;
  padding-top: 72px;
  padding-left: 30px;
}

.cssskin-_block_header_pc .column.-column3 {
  width: 20%;
  background-color: #e3f6de;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cssskin-_block_header_pc .c-body {
  color: #000000;
  font-size: 14px;
}

.cssskin-_block_header_pc a:link {
  font-size: 14px;
}

.cssskin-_block_header_pc .c-page_title {
  font-size: 14px;
  color: #000000;
}

.cssskin-_block_header_pc .c-large_headline {
  padding-top: 10px;
}

@media only screen and (max-width: 641px) {
.cssskin-_block_header_pc .column.-column1 {
  width: 100%;
}

.cssskin-_block_header_pc .column.-column2 {
  width: 100%;
}

.cssskin-_block_header_pc .column.-column3 {
  width: 100%;
}

}
